.calc-container {
    border-style: solid;
    border-width: 4px;
    border-radius: 4px;
}
.classif-container {
    border-style: solid;
    border-width: 4px;
    border-radius: 4px;
}
.main-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
}

* {
    font-family: Helvetica;
}

h1 {
    text-align:center;
}